#color {
    width: 13em;
    height: 8em;
}

h4, h1, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}